- alias: Update notifications
  trigger:
    - platform: state
      entity_id: updater.updater
  action:
    service: notify.pushover
    data_template:
      message: "Home Assistant  {{ states.updater.updater.state }}  is now available."
    data:
      title: :New Home Assistant Release"
