homeassistant:
  # Name of the location where Home Assistant is running
  name: Thuis
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lati
  longitude: !secret home_long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_alti
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Amsterdam
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
# introduction:

# Enables the frontend
frontend:
  javascript_version: latest

# Enables configuration UI
config:

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

influxdb:
  host: 127.0.0.1
  username: !secret influx_user
  password: !secret influx_pass

notify:
  platform: pushover
  api_key: !secret pushover_api_key 
  user_key: !secret pushover_usr_key 
  name: pushover

# Media players:
media_player:
  - platform: sonos
    hosts: 192.168.0.99

mqtt:
  broker: 192.168.0.110
  port: 1883
  client_id: home-assistant-1
  username: !secret mqtt_user
  password: !secret mqtt_pass

device_tracker:
  - platform: owntracks
    max_gps_accuracy: 200
    waypoint_whitelist:
      - !secret owntracks_user1
  - platform: unifi
    host: !secret unifi_ip
    username: !secret unifi_user
    password: !secret unifi_pass
    verify_ssl: False
    new_device_defaults:
      track_new_devices: False
      hide_if_away: False

sensor: !include_dir_merge_list sensors
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
camera: !include cameras.yaml
cover: !include_dir_merge_list covers

input_select:
  sonos_source:
    name: Sonos Source
    options:
      - "3FM"
      - "538"
      - "HitRadio Veronica"
      - "NPO Radio 1"
      - "NPO Radio 2"
      - "Q-Music"
      - "Radio 538 Nonstop 40"
      - "Radio Veronica"
      - "Sky Radio"
      - "SLAM!"
      - "SLAM! Non Stop"
      - "VRT Studio Brussel"
      - "Line-in"
    initial: "NPO Radio 2"
    icon: mdi:radio

input_number:
  sonos_volume:
    name: Volume
    initial: 40
    min: 1
    max: 100
    step: 1
